$primary-text-color: #212529;
$secondary-text-color:#6c757d;
$nav-color:#343a40;
$hover-color: #0085A1;

$white: #fff;
$black: #000;

$mobile-width: 768px;
$tablet-width: 992px;

$primary-font: 'Open Sans', sans-serif;
$secondary-font: 'Lora', serif;