@import url("https://fonts.googleapis.com/css2?family=Lora&family=Open+Sans:wght@300;400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
  color: unset;
}

ul {
  list-style-type: none;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

button,
input {
  outline: 0;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media only screen and (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media only screen and (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media only screen and (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
.button {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: #fff;
  text-transform: uppercase;
}
.button-link {
  cursor: pointer;
  background-color: #0085A1;
  border-color: #0085A1;
  font-size: 14px;
  font-weight: 800;
  padding: 15px 25px;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 0;
}

.post-link {
  color: #212529;
}
.post-link-title {
  font-size: 1.875rem;
  font-weight: 800;
  margin-top: 1.875rem;
  margin-bottom: 0.625rem;
  line-height: 1.2;
}
.post-link-subtitle {
  font-size: 1.75rem;
  font-weight: 300;
  margin: 0 0 10px;
}
.post-link:hover {
  color: #0085A1;
}
.post-meta {
  font-size: 1.125rem;
  font-style: italic;
  font-family: "Lora", serif;
  margin-bottom: 1.875rem;
  color: #6c757d;
}

@media only screen and (min-width: 768px) {
  .post-link-title {
    font-size: 2.25rem;
  }
}
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 50px;
  background: no-repeat center center;
  background-color: #6c757d;
  background-attachment: scroll;
  position: relative;
  background-size: cover;
}
.header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #212529;
  opacity: 0.5;
}
.header-group {
  padding: 150px 0 150px;
  z-index: 1;
  font-family: "Open Sans", sans-serif;
  color: #fff;
  text-align: center;
}
.header-group-title {
  font-size: 3.125rem;
}
.header-group-subtitle {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.1;
  display: block;
  margin: 10px 0 0;
}

@media only screen and (min-width: 768px) {
  .header-group-title {
    font-size: 5rem;
  }
}
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 3rem 0 4rem;
}
.footer-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.footer-list-item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  width: 3rem;
  background: #212529;
  color: #fff;
  border-radius: 50% 50%;
  font-size: 1.5rem;
}
.footer-copyright {
  margin-top: 1.875rem;
  font-family: "Lora", serif;
  font-size: 0.875rem;
  color: #6c757d;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  height: -moz-max-content;
  height: max-content;
  padding: 0.5rem 1rem;
  flex-wrap: wrap;
  background-color: white;
  position: static;
  z-index: 100;
}
.navbar-logo {
  font-size: 1.25rem;
  font-weight: 800;
  color: #343a40;
  z-index: 100;
}
.navbar-btn {
  display: block;
  font-size: 0.75rem;
  font-weight: 800;
  text-transform: uppercase;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  color: #343a40;
  background-color: transparent;
  padding: 0.8125rem;
}
.navbar-btn-icon {
  margin-left: 0.2rem;
  font-size: 0.75rem;
}
.navbar-menu {
  position: absolute;
  top: 61px;
  z-index: 100;
  left: 0;
  right: 0;
  background: #fff;
  text-align: left;
  width: 100%;
  padding: 0 1rem;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.3s ease-out;
  font-size: 0.75rem;
  text-transform: uppercase;
}
.navbar-menu-item-link {
  display: block;
  width: 100%;
  padding: 0.5rem 0;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 800;
  letter-spacing: 1px;
}
.navbar-menu-item-link:hover {
  color: #343a40;
}
.navbar-menu.show {
  max-height: 250px;
}

@media only screen and (min-width: 992px) {
  .navbar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-bottom: 1px solid transparent;
    background: transparent;
    flex-wrap: nowrap;
    left: 0;
    right: 0;
    position: absolute;
  }
  .navbar-logo {
    padding: 0.625rem 1.25rem;
    width: -moz-max-content;
    width: max-content;
    color: #fff;
    margin-right: 1rem;
    white-space: nowrap;
  }
  .navbar-logo:hover {
    color: rgba(255, 255, 255, 0.8);
  }
  .navbar-btn {
    display: none;
  }
  .navbar-menu {
    position: static;
    background: transparent;
    text-align: right;
    width: 100%;
    padding: 0 1rem;
    overflow: visible;
  }
  .navbar-menu-item {
    display: inline;
  }
  .navbar-menu-item-link {
    display: inline;
    padding: 0.625rem 1.25rem;
    color: #fff;
    font-weight: 800;
    letter-spacing: 1px;
  }
  .navbar-menu-item-link:hover {
    color: rgba(255, 255, 255, 0.8);
  }
}
.about-content {
  line-height: 1.5;
  margin: 1.875rem 0;
  font-size: 1.25rem;
  font-family: "Lora", serif;
}

.contact {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.contact-text {
  font-size: 1.25rem;
  font-family: "Lora", serif;
  margin: 1.875rem 0;
}

.contact-form-group {
  font-size: 0.875rem;
  position: relative;
  margin-bottom: 0;
  padding-bottom: 2rem;
  border-bottom: 1px solid #dee2e6;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
.contact-form-group-input {
  font-size: 1.5rem;
  font-family: "Lora", serif;
  position: relative;
  z-index: 1;
  padding: 0;
  border: none;
  border-radius: 0;
}
.contact-form-group-text {
  font-size: 0.75rem;
  line-height: 1.7rem;
  position: relative;
  z-index: 0;
  top: 2rem;
  display: block;
  margin: 0;
  transition: top 0.3s ease, opacity 0.3s ease;
  opacity: 0;
}
.contact-form-group-textarea {
  font-size: 1.5rem;
  font-family: "Lora", serif;
  position: relative;
  z-index: 1;
  padding: 0;
  resize: none;
  border: none;
  border-radius: 0;
  background: none;
  box-shadow: none !important;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  width: 100%;
}
.contact-form-group-textarea:focus {
  outline: none;
}/*# sourceMappingURL=main.css.map */