@import url("https://fonts.googleapis.com/css2?family=Lora&family=Open+Sans:wght@300;400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
  color: unset;
}

ul {
  list-style-type: none;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

button,
input {
  outline: 0;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 3rem 0 4rem;
}
.footer-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.footer-list-item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  width: 3rem;
  background: #212529;
  color: #fff;
  border-radius: 50% 50%;
  font-size: 1.5rem;
}
.footer-copyright {
  margin-top: 1.875rem;
  font-family: "Lora", serif;
  font-size: 0.875rem;
  color: #6c757d;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  height: -moz-max-content;
  height: max-content;
  padding: 0.5rem 1rem;
  flex-wrap: wrap;
}
.navbar-logo {
  font-size: 1.25rem;
  font-weight: 800;
  color: #343a40;
}
.navbar-btn {
  font-size: 0.75rem;
  font-weight: 800;
  text-transform: uppercase;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  color: #343a40;
  background-color: transparent;
  padding: 0.8125rem;
}
.navbar-btn-icon {
  margin-left: 0.2rem;
  font-size: 0.75rem;
}
.navbar-menu {
  position: relative;
  text-align: left;
  width: 100%;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.3s ease-out;
  font-size: 0.75rem;
  text-transform: uppercase;
}
.navbar-menu-item-link {
  display: block;
  width: 100%;
  padding: 0.5rem 0;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 800;
  letter-spacing: 1px;
}
.navbar-menu-item-link:hover {
  color: #343a40;
}
.navbar-menu.show {
  max-height: 250px;
}

.home-header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 50px;
  background: no-repeat center center;
  background-color: #6c757d;
  background-attachment: scroll;
  position: relative;
  background-size: cover;
}
.home-header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #212529;
  opacity: 0.5;
}
.home-header-group {
  padding: 150px 0 150px;
  z-index: 1;
  font-family: "Open Sans", sans-serif;
  color: #fff;
  text-align: center;
}
.home-header-group-title {
  font-size: 3.125rem;
}
.home-header-group-subtitle {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.1;
  display: block;
  margin: 10px 0 0;
}

.home-post-link {
  color: #212529;
}
.home-post-link-title {
  font-size: 1.875rem;
  font-weight: 800;
  margin-top: 1.875rem;
  margin-bottom: 0.625rem;
  line-height: 1.2;
}
.home-post-link-subtitle {
  font-size: 1.75rem;
  font-weight: 300;
  margin: 0 0 10px;
}
.home-post-link:hover {
  color: #0085A1;
}
.home-post-meta {
  font-size: 1.125rem;
  font-style: italic;
  font-family: "Lora", serif;
  margin-bottom: 1.875rem;
  color: #6c757d;
}

.home-button {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: #fff;
  text-transform: uppercase;
}
.home-button-link {
  cursor: pointer;
  background-color: #0085A1;
  border-color: #0085A1;
  font-size: 14px;
  font-weight: 800;
  padding: 15px 25px;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 0;
}/*# sourceMappingURL=main.css.map */