@use '../abstracts/' as *;
.navbar{
    @include flex(center, space-between);
    flex-direction: row;
    width: 100%;
    height: max-content;
    padding: 0.5rem 1rem;
    flex-wrap: wrap;
    background-color: white;
    position: static;
    z-index: 100;

    &-logo{
        font-size: 1.25rem;
        font-weight: 800;
        color: $nav-color;
        z-index: 100;
    }
    
    &-btn{
        display: block;
        font-size: 0.75rem;
        font-weight: 800;
        text-transform: uppercase;
        border: 1px solid rgba($color: #000, $alpha: 0.1);
        border-radius: 0.25rem;
        color: $nav-color;
        background-color: transparent;
        padding: 0.8125rem;

        &-icon{
            margin-left: 0.2rem;
            font-size: 0.75rem;
        }
    }

    &-menu{
        position: absolute;
        top: 61px;
        z-index: 100;
        left: 0;
        right: 0;
        background: $white;
        text-align: left;
        width: 100%;
        padding: 0 1rem;
        overflow: hidden;
        max-height: 0;
        transition: max-height 0.3s ease-out;
        font-size: 0.75rem;
        text-transform: uppercase;

        &-item{

            &-link{
                display: block;
                width: 100%;
                padding: 0.5rem 0;
                color: rgba(0, 0, 0, 0.5);
                font-weight: 800;
                letter-spacing: 1px;
            }

            &-link:hover{
                color: $nav-color;
            }
        }
    }

    &-menu.show{
        max-height: 250px;
    }
}

@include laptop{
    .navbar{
        @include flex(center, flex-start);
        border-bottom: 1px solid transparent;
        background: transparent;
        flex-wrap: nowrap;
        left: 0;
        right: 0;
        position: absolute;

        &-logo{
            padding: 0.625rem 1.25rem;
            width: max-content;
            color: $white;
            margin-right: 1rem;
            white-space: nowrap;
        }

        &-logo:hover{
            color: rgba($color: #fff, $alpha: 0.8);
        }

        &-btn{
            display: none;
        }

        &-menu{
            position: static;
            background: transparent;
            text-align: right;
            width: 100%;
            padding: 0 1rem;
            overflow: visible;

            &-item{
                display: inline;
                &-link{
                    display: inline;
                    padding: 0.625rem 1.25rem;
                    color: $white;
                    font-weight: 800;
                    letter-spacing: 1px;
                }
    
                &-link:hover{
                    color: rgba($color: #fff, $alpha: 0.8);
                }
            }
        }
    }
}
